<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/register.css">
    <title>Register</title>
</head>
<body>
    <div class="register-container">
        <h1>Register</h1>
        <form action="/register" method="post">
            <div class="input-group">
                <input type="text" name="username" placeholder="Username" autocomplete="off" required>
            </div>
            <div class="input-group">
                <input type="email" name="email" placeholder="Email Address" autocomplete="off" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" autocomplete="off" required>
            </div>
            <button class="btn" type="submit">Sign Up</button>
            <a href="/" class="btn btn-home">Back to Home</a>
        </form>
    </div>
</body>
</html>
